.navcolor
                {
                    background-color: black;
                    width:100%;
                    height:55px;
                    position: relative;
                    top:0;
                    left:0;
                }
                .home{
                    color: white;
                    background:green;
                    position: relative;
                    left:10px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                }
                .balance
                {
                    color: white;
                    background:green;
                    position: relative;
                    left:50px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                    
                }
                .paybill
                {
                    color: white;
                    background:green;
                    position: relative;
                    left:90px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                    
                }
                .transactionhistory
                {
                    color: white;
                    background:green;
                    position: relative;
                    left:130px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                    
                }
                .addbalance
                {
                    color: white;
                    background:green;
                    position: relative;
                    left:170px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                    
                }
                .logout
                {
                    color: white;
                    background:green;
                    position: relative;
                    left:210px;
                    top:12px;
                    font-size: 20px;
                    text-decoration: none;
                    
                }
             
                .balance:hover,.paybill:hover,.transactionhistory:hover,.addbalance:hover,.logout:hover
                {
                   background-color:grey;
                }

                .zoom{  display: inline-block;
                    position: relative;
                    width: 500px;
                    height: 500px;
                    overflow: hidden;
                    border-radius: 20%;}
                  .zoom:hover{
                  transform: scale(1.2);
                  cursor: pointer;}

                  .button-64 {
                    align-items: center;
                    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
                    border: 0;
                    border-radius: 8px;
                    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
                    box-sizing: border-box;
                    color: #FFFFFF;
                    display: flex;
                    font-family: Phantomsans, sans-serif;
                    font-size: 20px;
                    justify-content: center;
                    line-height: 1em;
                    max-width: 100%;
                    min-width: 140px;
                    padding: 3px;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                    
                  }
                  
                  .button-64:active,
                  .button-64:hover {
                    outline: 0;
                  }
                  
                  .button-64 span {
                    background-color: rgb(5, 6, 45);
                    padding: 16px 24px;
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    transition: 300ms;
                  }
                  
                  .button-64:hover span {
                    background: none;
                  }
                  
                  @media (min-width: 768px) {
                    .button-64 {
                      font-size: 24px;
                      min-width: 196px;
                    }
                  }                  